*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 80%;
    margin: auto;
}

ul{
    position: relative;
    margin: 0px;
    padding: 0px;
    align-items: center;

}

ul li{
    list-style-type: none;
    float: left;
    border-right: 1px solid #fff;
    padding: 10px; 
    background-color: #8a2be2;
}
ul li:hover{
    background-color: #ffa07a;
    border-radius: 5px;
    color: aliceblue;
}

ul li ul{
    position: absolute;
    margin-left: -10px;
    margin-top: 10px; 
}

ul li ul{
    opacity: 0;
    display: none;
}

ul li a{
    text-decoration: none;
    color: whitesmoke;
    width: 100%;
    padding: 10px;
    display: inline-block;
}

ul li ul li{
    clear: both;
    width: 100%;
    border-bottom: 1px solid #fff;
}
ul li:hover > ul{
    opacity: 1;
    display: block;
}